@media (max-width: 1380px) {
  .impressions::after{
    height: 80%;
    background-size:  auto 100%;
  }
}
@media (max-width:1200px) {
  nav .nav-item {
    padding: 5px 5px;
  }
  header.advertise-smart-managed{
    background-image: url('../images/background-addvertise-smart-managed-mob.png');
  }
}
@media (max-width:991px) {
  nav>.container>div:nth-of-type(1){
    width: auto !important;
  }
  .impressions::after{
    width: 250%;
  }
  .convert .img-side{
    margin-top: 100px;
  }
  .drive-audience-tab{
    margin: auto;
  }
  .features .img img.bg2{
    display: block;
  }
  .features .img img.bg1{
    display: none;
  }
  .features.pb-100{
    padding-bottom: 0;
  }
  .featuers-items-2{
    margin-bottom: 30px;
  }
  .features-2 .arrow-down-2{
    display: block;
  }
  .features-2 .arrow-down{
    display: none;
  }
  .features-2{
    padding-bottom: 50px;
    padding-bottom: 50px;
padding-top: 0;
margin-top: 50px;
  }
  ul.links{
    margin-top: 80px;
  }
  .features-3 .row .features-3-item{
    padding: 0 !important;
  }
  .features-3 .img-side img{
    width: 100%;
    /* margin-bottom: 150px; */
    margin-top: 80px;
  }
  .advertise.help .img-side img{
    position: relative;
    margin-top: -500px;
    z-index: -1;
  }
  .advertise.help{
    padding-bottom: 0;
  }
  .features-3{
    margin-top: 75px !important;
  }
  .convert.money .img-side {

    background-position:  center;
}
.features-sec-4 .row img{
  margin-bottom: 50px;
}
.submit-url{
/* background-image: url('../images/background-submit-url.png'); */
/* background-position: center;
background-size: cover ; */


}
}


@media (max-width:767px) {
  .quality-performance .item .body:after{
    display: none;
  }
  .quality-performance .item .body .row div:nth-of-type(2) img{
    margin-top: 40px;
  }
  .impressions::after{
    width: 300%;
  }
  .newsletter-form input{
    width: 100%;
    position: static;
    transform: none;


  }
  .newsletter-form .plane-btn{
    position: static;
    width: 100%;
    transform: none;
    margin-top: 50px;
  }
  .advertise.help .red-btn,
  .newsletter-form .red-btn{
    width: 100%;
  }
  .newsletter-form form{
    height: auto;
  }
  /* .red-btn{
    min-width: 80%;
  } */
}


@media (max-width: 576px) {
  .quality-performance .item .title{
    width: auto;
  }
  .impressions::after{
    width: 350%;
  }
  .carousel-item-m{
    width: 350px;
  }
.nav-tabs .nav-item .nav-link{
  padding: 10px 11px;
}
.advertise-item{
  padding: 20px !important;
}
.advertise-item .fl-btn button.red-btn{
  min-width: 100% !important;
}
.advertise.help .img-side img{
  transform-origin: left center;
  transform: scale(0.7);
  position: relative;
  margin-top: -550px;
  z-index: -1;
}
.dedicated-m h2 span{
  position: static;
  transform: none;
  display: block;
  margin: auto;
}
.advertise.help{
  margin-bottom: -200px;
}
.submit-url-form form button{
  min-width: 0;
}
.submit-url-form form label p{
  text-align: left;
}
.tab-header .tab{
  width: 100px;
}
}




@media (min-width:992px) {
  .advertise-item a:hover{
    text-decoration: underline;
  }
  .red-btn.fill,
  .red-btn:hover,
  .red-btn:focus{
    background: #fff;
    color: #E82F6D ;
  }
  .red-btn.fill:hover{
    background: #E82F6D;
    color: #fff;
  }
  .red-a:hover,
  .red-a:focus{
    color: #E82F6D;
    text-decoration: underline;
  }
  nav .red-btn:hover .nav-link{
    color: #E82F6D ;
  }
  .pop-under.tapped #scroll-here{
     background: #2549C025;
  }

}


@media (min-width:768px) and (max-width:991px) {
  .pop-under.tapped #at-w-991{
     background: #2549C025;
  }
}

@media (min-width:577px) and (max-width:767px) {
  .pop-under.tapped #at-w-767{
     background: #2549C025;
  }
}

@media (max-width:576px) {
  .pop-under.tapped #at-w-576{
     background: #2549C025;
  }
}
