@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
html {
  scroll-behavior: smooth;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  min-width: 380px;
  font-family: 'Almarai', sans-serif;
  overflow-x: hidden;
}
select,
input,
a,
input,
button{
  text-decoration: none;
  border: 0;
  outline: none !important;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888 !important;
  cursor: pointer;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}
.row{
  margin-right: -8px;
    margin-left: -8px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5,
.col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto,
.col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12,
.col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
  padding-right: 8px;
  padding-left: 8px;
}
.red-btn{
  background: #E82F6D;
  color: #fff;
  font-size: 22px;
  line-height: 45px;
  height: 50px;
  padding: 0px 20px;
  border-radius: 6px;
  min-width: 260px;
  color: white;
  border: 1px solid #E82F6D;
  transition: all 0.5s;
  margin: 8px;
  display: inline-block;
}


.pt-50{
  padding-top: 50px;
}
.pt-100{
  padding-top: 100px;
}
.pt-150{
  padding-top: 150px;
}
.pt-200{
  padding-top: 200px;
}
.pb-100{
  padding-bottom: 100px;
}

.pb-150{
  padding-bottom: 150px;
}
.pb-200{
  padding-bottom: 200px;
}

.mt-100{
  margin-top: 100px;
}
.mt-200{
  margin-top: 200px;
}
.mt-150{
  margin-top: 150px;
}
.mb-150{
  margin-bottom: 150px;
}
.mb-100{
  margin-bottom: 100px;
}
.h-20-bl-700{
  font-size: 20px;
  color: #6E00B3;
  font-weight: 700;
  line-height: 27px;
}
.h-16-bl-100{
  font-size: 16px;
  color: #2549C0;
  font-weight: 100;
  line-height: 24px;
}
.h-20-bl,
.h-20-w{
  font-size: 20px;
  line-height: 28px;
  font-weight: 100;
  color: #fff;
}
.h-20-bl{
  color: #2549C0;
}
.h-22-w{
  font-size: 22px;
  font-weight: normal;
  color: #fff;
}
.h-40-b-100{
  font-size: 40px;
  line-height: 50px;
  font-weight: 100;
  color: #3F63DA;
}
.h-48-bl-700{
  font-size: 48px;
  line-height: 64px;
  color: #2549C0;
  font-weight: 700;
}
.h-32-bl-gr-sp{
  font-size: 32px;
   color: #3F63DA;
   font-weight: 100;
   line-height:43px;
}
.h-32-bl-gr-sp span{
  color: #36AF9D;
}
.red-a{
  font-size: 18px;
  line-height: 24px;
  color: #E82F6D;
  font-weight: bold;
text-decoration: underline;
}

.txt-rotate > .wrap{
  height: 60px;
  line-height: 60px;
  display: inline-block;
  border-right: 3px solid #fff;
  padding-right: 5px;
}

.full-g{
  position: relative;
}
.full-g::after{
  content: "";
  /* background-image: linear-gradient(to left top, #2648BF,#6E00B3); */
  background: transparent linear-gradient(119deg, #6E00B3 0%, #2549C0 100%) 0% 0% no-repeat padding-box;
  /* background: #6E00B3 0% 0% no-repeat padding-box; */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.half-g.full-g::after{
  height: 50%;
}

.full-g-tb{
  position: relative;
}
.full-g-bt::after,
.full-g-tb::after{
  content: "";
  /* background-image: linear-gradient(to left top, #2648BF,#6E00B3); */
  background: transparent linear-gradient(0, #6E00B3 0%, #2549C0 100%) 0% 0% no-repeat padding-box;
  /* background: #6E00B3 0% 0% no-repeat padding-box; */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.full-g-bt::after{
  background: transparent linear-gradient(180deg, #6E00B3 0%, #2549C0 100%) 0% 0% no-repeat padding-box;

}
.contact-background{
  position: relative;
}
.contact-background:after{
  content: "";
  background: transparent linear-gradient(180deg, #6E00B3 0%, #2549C0 100%) 0% 0% no-repeat padding-box;
position: absolute;
  left: 50%;
top: 0;
transform: translateX(-50%);
height: 90%;
width: 150%;
  z-index: -1;
      border-radius: 0 0 60% 60%;
}
/* .wavy-bg{
  position: relative;
} */
/* .wavy-bg .bottom-curve::before{
  content: "";
  display: block;
  position: absolute;
  border-radius:  60% 100%;
  width: 60%;
  height: 270px;
  background-color: white;
  left: 0;
  bottom: 0;
  transform: translate(-10%,50%);
} */
/* .wavy-bg{
  position: relative;
  overflow: visible !important;
}
.wavy-bg .bottom-curve::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50% 0 0;
  width: 55%;
  height: 135px;
  background-color: white;
  right: -5px;
  bottom:  0;
  transform: translateY(50%);
}
.wavy-bg .bottom-curve::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 0 0 100% 50%;
  width: 50%;
  height: 135px;
  background: transparent linear-gradient(180deg, #313DBE 0%, #2549C0 100%) 0% 0% no-repeat padding-box;

  left: 0;
  bottom: 0;
  transform: translateY(40%);
} */
header{
  overflow-x: hidden;
  /* background-image: linear-gradient(0deg,  white 0%,  white 50%,  grey 50%); */
  /* background-image: linear-gradient(45deg, #2648BF,#6E00B3); */
  /* background-size: 100% 50%; */
  position: relative;
}

nav{
  color: #fff !important;
      padding-top: 25px !important;
      z-index: 100;
}
nav .nav-item{
  padding: 5px 9px;
  line-height: 40px;
  height: 40px;
  margin: 0 3px;
}
nav .nav-link{
  color: #fff;
  font-size: 18px;
  padding: 0;
line-height: 28px;
  /* line-height: 40px; */
}
nav .navbar-brand img{
  height: 40px;
  width: auto;
}
nav .red-btn{
  margin: 0;
  /* height: auto;
  font-size: 18px; */
  /* height: 40px; */
  /* padding: 5px 10px; */
  min-width: 0;
}
nav .navbar-toggler i{
  color: white;
}
.video iframe{
  width: 100%;
}
.video video{
  width: 100%;
  /* width: fit-content; */
}
.campaigns h1{
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 33px;
  font-size: 30px;
  font-weight: 500;
  color: #2549C0;
text-shadow: 0px 1px 2px #15296B4D;
}












.quality-performance .item{
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 8px #15296B4C;
border: 1px solid #BFCBF3;
border-radius: 6px;
padding: 15px;
margin-top: 260px;
height: calc(100% - 260px);
position: relative;
}

.quality-performance .item img{
margin: -10px auto 20px auto;
height: 120px;
}
.quality-performance .item h1{
  font-size: 20px;
  letter-spacing: 0px;
  color: #2549C0;
  text-transform: capitalize;
  margin-bottom: 15px;
  margin-top: 5px;
font-weight: bold;
}
.quality-performance .item p{
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
color: #1D3996;
line-height: 26px;
margin: 0;

}




.quality-performance .item .title{
  font-size: 40px;
  font-weight: 500;
  color: #2549C0;
  height: 80px;
  line-height: 80px;
text-shadow: 0px 3px 3px #15296B4D;
  width: 352px;
  background: #F2F5FF;
  box-shadow: 0px 2px 6px #15296B4C;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  transform: translateY(-55px);
  position: relative;
}
.quality-performance .item .title::after,
.quality-performance .item .title::before{
  content: "";
  width: 12px;
height: 40px;
background: #AFBADC 0% 0% no-repeat padding-box;
border-radius: 12px 12px 0px 0px;
position: absolute;
top: 0;

}
.quality-performance .item .title::before{
  left: -12px;
}
.quality-performance .item .title::after{
  right: -12px;
}
.quality-performance .item .body{
  /* position: relative; */
}
.quality-performance .item .body:after{
  content: "";
  width: 1px;
  height: calc(100% - 90px);
  background: #BFCBF3;
  position: absolute;
  left: 50%;
  top: 80px;
  transform: translateX(-50%);
}










.impressions{
  /* background: transparent linear-gradient(157deg, #3F63DA 0%, #4E0080 100%) 0% 0% no-repeat padding-box; #3F63DA 0%, #4E0080 100%) */
   /* background: radial-gradient(ellipse at top,  #3F63DA 0%,#3F63DA 47%,#ff0000 47%,transparent 47%, transparent 100%); */
   /* background: #3F63DA; */
   /* background-image: url("../images/ellipse1.png");
   background-position: top;
   background-size:  100% 80%;
   background-repeat: no-repeat; */
  /* background-size: 100% 50%; */
  /* min-height: 500vh; */
  /* border-radius: 700px 700px 50% 0px; */
  padding-top: 100px;
  margin-top: 160px;
  position: relative;
  overflow: hidden;
}
.impressions::after{
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 95%;
  width: 150%;
  content: "";
  /* background: linear-gradient(to right bottom, #3539BD, #6905B4); */
  /* background: transparent linear-gradient(157deg, #3F63DA 0%, #4E0080 100%) 0% 0% no-repeat padding-box; */
  background:  linear-gradient(157deg, #3F63DA 0%, #4E0080 100%) ;

  background-position: top;
  background-size:  cover;
  z-index: -1;
  border-radius: 60% 60% 60% 60% ;
}
h6.curved{
  font-size: 48px;
  font-weight: bold;
  color: #50C9B6;
  text-shadow: 0px 3px 3px #00000029;
  text-align: center;
  letter-spacing: -3px;
  position: relative;
  padding-bottom: 20px;
  /* transform: rotate(-11deg); */
  /* font-family: Monaco, MonoSpace; */
}
h6.curved p{
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(-12deg);
  width: 455px;
}
h6.curved span{
  height: 1000px;
  position: absolute;
  width: 20px;
  left: 0;
  top: 0;
  transform-origin: bottom center;
  width: 50px;
}
h6.curved span:nth-of-type(1){
  transform: rotate(1deg);
}
h6.curved span:nth-of-type(2){
  transform: rotate(2.8deg);
}
h6.curved span:nth-of-type(3){
  transform: rotate(4deg);
}
h6.curved span:nth-of-type(4){
  transform: rotate(5deg);
}
h6.curved span:nth-of-type(5){
  transform: rotate(6.2deg);
}
h6.curved span:nth-of-type(6){
  transform: rotate(7deg);
}
h6.curved span:nth-of-type(7){
  transform: rotate(8deg);
}
h6.curved span:nth-of-type(8){
  transform: rotate(9.5deg);
}
h6.curved span:nth-of-type(9){
  transform: rotate(11.5deg);
}
h6.curved span:nth-of-type(10){
  transform: rotate(13deg);
}
h6.curved span:nth-of-type(11){
  transform: rotate(14deg);
}
h6.curved span:nth-of-type(12){
  transform: rotate(15.5deg);
}
h6.curved span:nth-of-type(13){
  transform: rotate(17deg);
}
h6.curved span:nth-of-type(14){
  transform: rotate(18deg);
}
h6.curved span:nth-of-type(15){
  transform: rotate(19deg);
}
h6.curved span:nth-of-type(16){
  transform: rotate(20.5deg);
}
h6.curved span:nth-of-type(17){
  transform: rotate(22deg);
}

h5.curved{
  font-size: 100px;
  font-family: 'Cairo', sans-serif;
  font-weight: lighter;
    color: #fff;
    text-shadow: 0px 3px 3px #15296b80;
    text-align: center;
    letter-spacing: -8px;
    padding-bottom: 50px;
}
h5.curved p{
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(-19.5deg);
  width: 765px;
}
h5.curved span{
  height: 1000px;
  position: absolute;
  width: 20px;
  left: 0;
  top: 0;
  transform-origin: bottom center;
  width: 50px;
}

h5.curved span:nth-of-type(1){
  transform: rotate(1deg);
}
h5.curved span:nth-of-type(2){
  transform: rotate(4.5deg);
}
h5.curved span:nth-of-type(3){
  transform: rotate(6.5deg);
}
h5.curved span:nth-of-type(4){
  transform: rotate(8.5deg);
}
h5.curved span:nth-of-type(5){
  transform: rotate(12deg);
}
h5.curved span:nth-of-type(6){
  transform: rotate(15.5deg);
}
h5.curved span:nth-of-type(7){
  transform: rotate(17.5deg);
}
h5.curved span:nth-of-type(8){
  transform: rotate(19.5deg);
}
h5.curved span:nth-of-type(9){
  transform: rotate(23deg);
}
h5.curved span:nth-of-type(10){
  transform: rotate(26.5deg);
}
h5.curved span:nth-of-type(11){
  transform: rotate(29deg);
}
h5.curved span:nth-of-type(12){
  transform: rotate(31.2deg);
}
h5.curved span:nth-of-type(13){
  transform: rotate(34.5deg);
}
h5.curved span:nth-of-type(14){
  transform: rotate(38deg);
}



.world-map{
  margin: auto;
  display: block;
  width: 100%;
  max-width: 728px;
  padding-top: 140px;
  transform-origin: top;
  transform: rotate(1.5deg);
}
.impressions .item {
  width: 120px;
  display: block;
  margin: auto;

}
.impressions .item h1{
font-size: 19px;
font-weight: bold;
color: #50C9B6;
text-shadow: 0px 3px 3px #00000029;
text-transform: capitalize;
}
.impressions .item p{
font-size: 48px;
line-height: 48px;
font-weight: lighter;
color: #fff;
text-shadow: 0px 3px 3px #15296B80;
/* font-family: 'Cairo', sans-serif; */
}
.impressions .item p span{
font-size: 28px;
font-weight: bold;
text-shadow: 0px 3px 3px #15296B80;
vertical-align: top;
line-height: 36px;
}




.features{
  margin-top: 80px;
  margin-bottom: 80px;
  /* overflow-x: hidden; */
}
.features h1,
.popunder-title-m h1{
  font-size: 48px;
  line-height: 60px;
  color: #50C9B6;
text-shadow: 0px 3px 3px #15296B4D;
margin-bottom: 20px;
font-weight: 700;
}
.features p,
.popunder-title-m p{
  letter-spacing: 0px;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 26px;
  font-weight: 100;
}

.features .sponsors{
  margin-top: 100px;
}
.features .sponsors .images{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.features .sponsors img{
  display: inline-block;
  margin: 25px 25px;
  /* width: auto; */
  /* height: auto; */
}

/* .features .sponsors .images img:nth-last-of-type(1){
  margin-right: 0;
}
.features .sponsors .images img:nth-of-type(1){
  margin-left: 0;
} */

.scroll-items{
  overflow-x: scroll;
overflow-y: hidden;

cursor: pointer;
white-space: nowrap;
}
.scroll-items::-webkit-scrollbar {
  display: none;
}
.carousel-item{
  width: 500px;
}
.carousel-item-m{
  text-align: center;

  display: inline-block;
  /* flex: 442px; */

padding: 6px;

margin: 0;
    white-space: initial;
}
.carousel-item-m>div{
  background: #FFFFFF ;
  box-shadow: 0px 0px 8px #15296B4C;
  padding: 35px 70px 25px 70px;
  border: 1px solid #BFCBF3;
  border-radius: 8px;
    width: 442px;
}
.carousel-item-m p{
  font-size: 18px;
  font-weight: 500;
  color: #3F63DA;
  line-height: 26px;
}
.carousel-item-m h1{
  color: #E82F6D;
  text-shadow: 0px 2px 2px #00000029;
  line-height: 24px;
  text-shadow: 0px 2px 2px #00000029;
font-size: 18px;
font-weight: 500;
}
.carousel-item-m h2{
  letter-spacing: 0px;
  color: #E82F6D;
  text-shadow: 0px 2px 2px #00000029;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
}

.carousel-list{
  width: 100vw;
  /* display: flex; */
  overflow-x: auto;

}
.scroll-items{
  overflow-x: scroll;
overflow-y: hidden;
    padding: 0 40px;
cursor: pointer;
white-space: nowrap;
}
.carousel-list .list{
/* white-space: nowrap; */
  /* width: 200vw; */

  /* display: flex; */
  /* flex-wrap: wrap; */
  /* animation: ticker 30s linear infinite; */
}
/* .carousel-list .list:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
} */




/* @keyframes ticker {
0% {
  transform: translate3d(0, 0, 0);
}

100% {
  transform: translate3d(-100%, 0, 0);
}
} */



.advertise{
  margin-top: 150px;
}

.advertise-item{
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 4px #15296B4C;
height: 100%;
max-width: 657px;
margin: auto;
}
.advertise-item h1{
  font-size: 40px;
  line-height: 50px;
letter-spacing: 0px;
color: #6E00B3;
margin-bottom: 55px;
}
.advertise-item p{
  letter-spacing: 0px;
color: #6E00B3;
font-size: 20px;
line-height: 26px;
margin-bottom: 45px;
}
.advertise-item a{
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #8D00E6;
  text-shadow: 0px 2px 2px #00000029;
  text-decoration: underline;
/* width: fit-content;
border-bottom: 1px solid  #8D00E6;
padding-bottom: -3px; */
}

.advertise-item ul{
list-style: none;
padding-left: 35px;
}
.advertise-item ul li{
  letter-spacing: 0px;
  color: #3F63DA;
  font-size: 28px;
  line-height: 35px;
  font-weight: bold;
  margin-bottom: 30px;
  position: relative;
}
.advertise-item ul li::before{
  position: absolute;
  left: -33px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 22px;
  height: 18px;
  background: url('../images/icons/check.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.fl-btn{
  position: relative;
  margin-top: 150px;
  margin-bottom: 30px;
}
.fl-btn button.red-btn{
min-width: 350px !important;
margin: auto;
display: block;
}
.fl-btn img{
position: absolute;
left: 50%;
top: 0;
transform: translate(-50%,-77%);
}
.advertise-item.monetize-item .fl-btn img{
  transform: translate(-50%,-78%);
}




.payments{
margin-top: 80px;
margin-bottom: 80px;
}
.payments h1{
  letter-spacing: 0px;
color: #412DBB;
font-size: 18px;
line-height: 26px;
margin-bottom: 20px;
}
.payments img{
  /* width: 100%; */
  margin: 10px;
}






footer{
  /* height: 100vh; */
  /* background: linear-gradient(to right bottom, #3539BD, #6905B4); */
  background: url('../images/background-footer.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 120px 20px;
  overflow: hidden;
  text-align: left;
}
  footer h2,
footer h1{

  letter-spacing: 0px;
  color: #FFFFFF;
  font-size: 32px;
  line-height: 40px;

}
footer h2{
  font-size: 22px;
  font-weight: bold;
}
footer p{
  letter-spacing: 0px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 22px;

}
footer .bottom-footer p {
  max-width: 443px;
  margin-top: 35px;
  margin-bottom: 35px;
}
.newsletter-form form{

max-width: 535px;
width: 100%;
height: 54px;
position: relative;

}

.newsletter-form input{
  padding: 0 25px;
  letter-spacing: 0px;
color: #94A8EA;
font-size: 16px;
line-height: 50px;
  width: calc(100% - 170px);
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #132B7D4D;
  border-radius: 8px;
  height: 50px;

  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.newsletter-form .plane-btn{
  height: 54px;
      min-width: 184px;
      /* background: black; */
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
}
.newsletter-form .plane-btn div{
  position: relative;
}
.newsletter-form .red-btn{
height: 54px;
      line-height: 54px;

      margin: 0;
}
.newsletter-form .red-btn:hover,
.newsletter-form .red-btn:focus{
  background: #E82F6D ;
  color: #fff
}
.newsletter-form .red-btn.clicked{
  background: #50C9B6;
  color: #fff;
  border-color: #50C9B6;
}
.newsletter-form .plane-b{
position: absolute;
right: 0;
bottom: 0;
transform: translate(29%,52%);

}
.newsletter-form .plane-b.plane-b-animate{
  animation: plane-b-animate 2s forwards;
}
@keyframes plane-b-animate {
  100%,0%{
    transform: translate(29%,52%);
  }
  50%{
    transform: translate(1000%,-500%);
  }
}
.newsletter-form .plane-s{
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-20%,-70%);

}
.newsletter-form .plane-s.plane-s-animate{
animation: plane-s-animate 2s forwards;
}
@keyframes plane-s-animate {
  100%,0%{
    transform: translate(-20%,-70%);
  }
  50%{
    transform: translate(-20%,-1570%);
  }
}
footer .bottom-footer{
  margin-top: 50px;
}



.social-links{
  padding: 0;
  list-style: none;
}
.social-links li{
  display: inline-block;
  margin-right: 22px;
}
.social-links a{
color: #fff;
}
.social-links i{
color: #fff;
font-size: 24px;
}
ul.links h2{
  margin-bottom: 30px;
}
ul.links{
  list-style: none;
  padding: 0;
}
ul.links li{
  margin: 10px 0;
}
ul.links  p{
  margin-top: 25px;
  margin-bottom: 25px;
}
















/* advertise self serving page */


.convert .row{
  /* padding-top: 150px;
  padding-bottom: 100px; */
}
.convert .row div div{
  max-width: 360px;
}
.convert h1{
  font-size: 60px;
  font-weight: normal;
  line-height: 90px;
  color: #fff;
}
.convert h2{
  font-size: 75px;
  line-height: 90px;
  color: #E8306E;
  font-weight: bold;
      margin-bottom: 80px;
      text-shadow: 0px 3px 3px #45081C4D;
      text-align: left;
}
.convert .red-btn{
  width: 100%;
}
.convert .img-side{
  background-image:  url('../images/banner-convert-m.svg');
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  min-height: 420px;
}

.convert .p-22{
  /* margin-bottom: 15px; */
}
.slide-imgs-animation{
  position: relative;
}
.slide-imgs-animation img{
  position: absolute;
  left: 0;
  top: 0;
  /* transform: translate(-50%,-50%); */

    animation: slide-imgs-animation 12s infinite normal;
    opacity: 0;
    padding-bottom: 30px;
    transform: translate(-50%,-50%);
}
.slide-imgs-animation img:nth-of-type(1){
  animation-delay: 0s;
  padding-bottom: 50px;
}
.slide-imgs-animation img:nth-of-type(2){
  animation-delay: 4s;
}
.slide-imgs-animation img:nth-of-type(3){
  animation-delay: 8s;
  padding-bottom: 169px;
}
@keyframes slide-imgs-animation {
  0%{
    left: 0;
    top: 0;

    opacity: 0;
  }
  10% {
    left: 50%;
    top: 50%;

    opacity: 1;
  }
  20% {
    left: 50%;
    top: 50%;

    opacity: 1;
  }
  30% {
    left: 100%;
    top: 100%;

    opacity: 0;
  }
  100% {
    left: 100%;
    top: 100%;

    opacity: 0;
  }
}
.drive-audience-tab{
  max-width: 435px;
}
.drive-audience-tab .drive-audience-tab .nav-tabs{
border: 0;
}
.drive-audience-tab .nav-tabs{
  border-bottom: 0;
}
.drive-audience-tab .nav-tabs .nav-item{
border: 0 !important;
}
.drive-audience-tab .nav-tabs .nav-item .nav-link{
  color: #94A8EA;
  text-transform: capitalize;
  font-size: 20px;
  line-height: 27px;
  font-weight: 900;

  border-bottom: 1px solid #F28CAE;
  padding: 10px 25px;
}
.drive-audience-tab .nav-tabs .nav-item:nth-of-type(1) .nav-link{
  padding-left: 0;
}
.drive-audience-tab .nav-tabs .nav-item:nth-last-of-type(1) .nav-link{
  padding-right: 0;
}
.drive-audience-tab .nav-tabs .nav-item .nav-link.active{
  border: 0;
      padding-bottom: 8px;
      border-bottom: 5px solid #ED5E8E;
      color: #3F63DA;
      transform: translateY(1px);
}
.drive-audience-tab .nav-tabs .nav-item .nav-link:hover{
  /* border-top: 0; */
  /* border-left: 0;
  border-right: 0; */
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  /* border-bottom: 0; */
}
.drive-audience-tab .nav-tabs .nav-item
.tab-content{

}
.tab-content .tab-pane{
padding: 40px 0;
}
.tab-content p{
color: #2549C0;
font-size: 20px;
line-height: 28px;
font-weight: 300;
margin-bottom: 40px;
}
.tab-content button{

}


.drive-audience{
  overflow: hidden;
}
.drive-audience .img-side{
  /* background-image:  url('../images/banner-drive-audience.png');
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat; */
  min-height: 470px;
}
.drive-audience .img-side img{
  height: 100%;
  display: none;
}
.drive-audience .img-side img.active{
  display: block;
  animation: moveLeft 0.5s;
}
@keyframes moveLeft {
  from{
    transform: translateX(100%);
  }
  to{
    transform: translateX(0);
  }
}



.features .img{
  position: relative;

}
.features .img img.bg2{
  display: none;
}
.features .img img{
  width: 100%;
}
.features .img .red-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-53%, -50%);
}




.features-list-items{

}
.features-list-items>div{
  max-width: 550px;
  margin: auto;
  display: block;
}
.features-list-items img{
height: 140px;
width: auto;
}
.features-list-items h1{
color: #3F63DA;
font-size: 32px;
line-height: 40px;
font-weight: 900;
margin-bottom: 20px;
}
.features-list-items p{
color: #3F63DA;
font-size: 20px;
line-height: 28px;
font-weight: 100;
}





.features-2{
  position: relative;
    padding-top: 250px;
    margin-top: 150px;
    padding-bottom: 150px;
    /* overflow-x: hidden; */
}
.features-2 .arrow-down{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 108%;
}
.features-2 .arrow-down-2{
  display: none;
  position: absolute;
  left: 0;
  /* transform: translate(50%,10%); */
  /* top: 50%;
  transform: translateY(-50%); */
  top: 0;
  /* height: 100%; */

  width: 100%;
  height: 105%;
  overflow: hidden;

}
.features-2 .arrow-down-2 img{
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
transform: translateX(50%);
max-width: 500px;
}
.featuers-items-2{

  margin-bottom: 80px;
}
.featuers-items-2 h1{
color: #5815B6;
font-size: 24px;
line-height: 34px;
font-weight: 700;
}
.featuers-items-2 p{
color: #5815B6;
font-size: 18px;
line-height: 28px;
font-weight: 100;
height: 84px;
    overflow: hidden;
}


.features .fl-btn{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,50%);
}




.successful-campaign .h-20-w{
  color: #615F86;
  margin-bottom: 0;
}

.successful-campaign .item{
max-width: 352px;
margin: auto;
display: block;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 4px #15296B4C;
border-radius: 6px;
padding: 30px;
transform: translateY(55px);
margin-bottom: 30px;
}
.successful-campaign .item .img{
  box-shadow: 0px 0px 8px #071D664D;
border-radius: 8px;
height: 168px;
width: 100%;
position: relative;
overflow: hidden;
}
.successful-campaign .item .img img{
  height: 100%;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}
.successful-campaign .item h1{
  color: #2549C0;
  text-transform: capitalize;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
.successful-campaign .item p{
color: #1D3996;
font-size: 15px;
line-height: 26px;
font-weight: 100;
}
















/* advertise smart managed */
/* .polygon-background-main{
clip-path: polygon(0 0%, 100% 0, 100% 85%, 50% 100%, 0% 85%, 0% 25%);
overflow: hidden;
           position: relative;
} */
/* .polygon-background-main .bottom-curve{
  width: 30vw;
  height: 30vw;
  position: absolute;
  bottom: 25px;
left: 50%;
transform: translate(-50%,0);
background: red;
border-radius:0 50% 50%/0 0 30% 30%;
overflow: hidden;
}
.polygon-background-main .bottom-curve>div{

  background: blue;
  width: 100%;
  height: 100%;

} */
/* .polygon-b::after{
  content: "";
  background: red;
} */
header.advertise-smart-managed{
  background-image: url('../images/background-addvertise-smart-managed.png');
  background-position: bottom;
  background-size:100% 100%;
  background-repeat: no-repeat;
}
header.advertise-smart-managed-2{
  position: relative;
}
header.advertise-smart-managed-2 .bottom-curve:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  float: right;
  background: red;
  clip-path: polygon(100% 0, 100% 57%, 54% 100%, 0 100%, 0 0);
}
.convert.goals{
  min-height: calc(100vh - 100px);
}
.convert.goals .img-side{
  background-image: url('../images/banner-goals.svg');
  background-position: right;
}
/* .convert{
  background-image: url('../images/banner-goals.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: c

} */

.convert .red-btn i{
  margin-right: 10px;
}
.convert.goals .row div div{
  max-width: none;
}
.convert.goals .red-btn{
  /* width: auto; */
  max-width: 352px;
}


.dedicated-m{
padding-bottom: 75px;

}
.dedicated-m h2,
.dedicated-m h1{
color: #FFFFFF;
font-size: 56px;
line-height: 74px;
font-weight: 300;
}
.dedicated-m h2{
  font-weight: 700;
  position: relative;
  margin-bottom: 20px;

}
.dedicated-m h2 span{
  position: absolute;
  width: 90px;
  height: 50px;
  background: #50C9B6;
  text-align: center;
  font-size: 32px;
  line-height: 50px;
  font-family: 'Cairo', sans-serif;
  border-radius: 16px;
  transform: translateX(6px);
  box-shadow: 0px 3px 3px #0D73634D;
}

.features-3 .row:nth-of-type(odd) .features-3-item {
  padding-right: 80px;
}
.features-3 .row:nth-of-type(even) .features-3-item {
  padding-left: 80px;
}
.h-44-b-sp{
  color: #3F63DA;
  font-size: 56px;
  line-height: 74px;
  font-weight: 100;
}
.h-44-b-sp span{
  font-weight: 900;
}

.features-3 .img-side{
  min-height: 350px;
}



.advertise.help{
  /* background-image: url('../images/background-help.png');
  background-position: right;
  background-size: 50%;
  background-repeat: no-repeat; */
  overflow: hidden;
  margin-top: 0;

}
.advertise.help .red-btn{
  width: 352px;
}
.advertise.help .img-side{
  position: relative;
}
.advertise.help .img-side img{
  position: absolute;
  bottom: 0;
  left: 0;
}









/* monetize page */

.money-header{
  background-image: url(../images/background-money.png);
background-position: bottom;
background-size: 100% 100%;
background-repeat: no-repeat;
}
.convert.money .img-side{
  background-image: url(../images/banner-money.svg);
  background-size: contain;
  background-position: 75% center;
}


.submit-url{
background-image: url('../images/background-submit-url.png');
background-position: bottom;
background-size: 100% 70% ;
background-repeat: no-repeat;
padding-bottom: 250px;
}
.submit-url h1{
  color: #2549C0;
  font-size: 56px;
  line-height: 74px;
  font-weight: 100;
}
.submit-url h1 span{
  font-weight: 300;
  text-transform: uppercase;
}
.submit-url p{
color: #615F86;
font-size: 20px;
line-height: 26px;
font-weight: 100;

}
.submit-url-form{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  overflow: hidden;
  padding: 0 20px 20px 20px;
}
.submit-url-form form{

}
.submit-url-form form div{
background: transparent linear-gradient(95deg, #6E00B3 0%, #2549C0 100%) 0% 0% no-repeat padding-box;
height: 90px;
padding: 20px;
position: relative;
margin-left: -20px;
margin-right: -20px;
}
.submit-url-form form div input{
  background: #F1F3F4 0% 0% no-repeat padding-box;
  border-radius: 12px;
  height: 100%;
  width: 100%;
  position: relative;
  /* padding-left: 105px; */
  display: block;
    padding: 0 20px 0 115px;

    color: #6E00B3;
    font-size: 24px;
    font-weight: 500;
}
.submit-url-form form div input::placeholder{
  color: #6E00B3;
  font-size: 24px;
  font-weight: 500;
  opacity: 0.5;
}
.submit-url-form form div::before{
  content: "\f57c";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 35px;
  /* background: red; */
  /* width: 75px; */
  height: 50px;
  z-index: 1;
  font-size: 24px;
  line-height: 50px;
  color: #6E00B3;
  font-weight: 700;
  font-family: "Font Awesome 5 Free";

}
.submit-url-form form div::after{
  content: "www.";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 65px;
  /* background: red; */
  width: 75px;
  height: 50px;
  z-index: 1;
  font-size: 24px;
  line-height: 50px;
  color: #6E00B3;
  font-weight: 700;

}
.submit-url-form form img{
margin-bottom: 65px;
margin-top: 100px;
}
.submit-url-form form label{
color: #3A5FD9;
font-size: 18px;
line-height: 26px;
font-weight: 100;
position: relative;
cursor: pointer;
display: block;
width: fit-content;
margin: auto;
padding-left: 25px;
}
.submit-url-form form label input{
  display: none;
  /* position: relative; */
}
.submit-url-form form label span::before{
  content: "";
  display: block;
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 2px #2E38884C;
border: 1px solid #3A5FD9;
border-radius: 4px;
width: 18px;
height: 18px;
position: absolute;
left: 0;
top: 3px;
/* transform: translateY(-50%); */
}
.submit-url-form form label span::after{
  content: "";
  display: block;
  width: 12px;
height: 12px;
background: #3A5FD9 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 2px #2E38884C;
border-radius: 2px;
position: absolute;
left: 3px;
top: 6px;
/* transform: translateY(-50%); */
opacity: 0;
}
.submit-url-form form label input:checked+span::after{
  opacity: 1;
}
.submit-url-form form label p{
color: #3A5FD9;
font-size: 18px;
line-height: 26px;
font-weight: 500;
}
.submit-url-form form label p a{
  color: #3A5FD9;
  text-decoration: underline;
}
.submit-url-form form button{
  background: #FFC4D7 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 2px #00000029;
  border-color: #FFC4D7;
  min-width: 400px;
}












/* popunder animaiton */
.pop-under{
/* border-radius: 8px; */
overflow: hidden;
margin-bottom: 45px;

position: relative;
}
.pop-under:after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/background-popunder.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.pop-under>.p-container>div{
  max-width: 705px;
  display: block;
  margin: auto;
  position: relative;
      text-align: left;
}
.pop-under .tab-header{
  height: 40px;
  background: #D3D2DF 0% 0% no-repeat padding-box;
  border-radius: 8px 8px 0px 0px;
  padding: 9px 9px 0 9px;
}
.tab-header .tab{
  display: inline-block;
height: calc(100% - 8px);
background: #B5B4CA 0% 0% no-repeat padding-box;
width: 177px;
border-radius: 4px 4px 0px 0px;
position: relative;
padding: 0 13px;
margin-right: 7px;
  /* margin: 9px 9px 0 9px; */
}
.tab-header .tab::after,
.tab-header .tab::before{
  content: "";
  width: 5px;
  height: 5px;
  background: #B5B4CA;
  position: absolute;
  bottom: 0;
}
.tab-header .tab span::after,
.tab-header .tab span::before{
  content: "";
  width: 9px;
  height: 9px;
  background: #D3D2DF;
  position: absolute;
  border-radius: 50%;
  bottom: 0;
  z-index: 1;
}
.tab-header .tab span::after,
.tab-header .tab::after{
  right: 0;
  transform: translateX(100%);
}
.tab-header .tab span::before,
.tab-header .tab::before{
  left: 0;
  transform: translateX(-100%);
}
.tab-header .tab h1{
  letter-spacing: 0px;
color: #15296B;
font-size: 12px;
line-height: 31px;
}
.tab-header .tab.tab2{
  display: none;
  background: white;
}
.tab-header .tab.tab2::before,
.tab-header .tab.tab2::after{
  background: white;
}
.tab-header  .dots{
  float: right;
  text-align: right;
}
.tab-header .dots span{
  /* display: block; */
  width: 7px;
height: 7px;
background: #B5B4CA 0% 0% no-repeat padding-box;
display: inline-block;
border-radius: 25%;
}
.pop-under .content{
background: white;
height: 410px;
overflow-y: auto;
border-radius: 0 0 8px 8px;
}
.pop-under .content::-webkit-scrollbar{
  display: none;
}
.pop-under .content .content-header{
height: 36px;
width: 100%;
background: #2549C010 0% 0% no-repeat padding-box;
/* box-shadow: 0px 3px 6px #00000029; */
/* opacity: 0.1; */
padding: 0 35px;

}
.content .item{
  background: #2549C030 0% 0% no-repeat padding-box;
  /* background: red; */
  opacity: 1;
border-radius: 6px;
width: 83px;
height: 20px;
display: inline-block;
margin: 9px 0;
}
.content .item.s{
  height: 14px;
  margin: 12px
}
.content .item.t{
  width: 19px;
height: 20px;
}
.content .item.m{
  height: 10px;
}

.pop-under .content .body>div{
  padding: 35px;
}
.pop-under .content .s-item{
  width: 100%;
  padding: 125px 14px 14px 14px;
  background: #2549C010 0% 0% no-repeat padding-box;
/* box-shadow: 0px 3px 6px #00000029; */
border-radius: 22px;
margin-top: 45px;
}
.pop-under .content .s-item i{
  display: inline-block;
  color: #2549C030;
  font-size: 14px;
  margin-right: 11px;
}




/* page 2 of popup under */
.pop-under .content.page2{
  display: none;
}
.pop-under.open-tab2 .content.page2{
  display: block;
}
.pop-under .content .menu-side{
  background: #2549C010 0% 0% no-repeat padding-box;
  max-width: 130px;

}
.pop-under .content .menu-side>div{
  padding: 25px 10px;
}
.pop-under .content.page2 .item{
  display: block;
    margin: 14px 0;
}
.pop-under .content.page2 .item:nth-of-type(1){
  margin-bottom: 40px;
  margin-top: 0;
}
.pop-under .content.page2 .item:nth-of-type(2){
  width: 70%;
}
.pop-under .content.page2 .item:nth-of-type(3){
  width: 80%;
}
.pop-under .content.page2 .item:nth-of-type(4){
  width: 75%;
}
.pop-under .content.page2 .item:nth-of-type(5){
  width: 80%;
}
.pop-under .content.page2 .item:nth-of-type(6){
  width: 65%;
}
.pop-under .content.page2 .item:nth-of-type(7){
  width: 80%;
}
.pop-under .content.page2 .item:nth-of-type(8){
  width: 75%;
}
.pop-under .content.page2 .s-item{
  width: 209px;
height: 193px;
position: relative;
}
.pop-under .content.page2 .s-item.s{
  width: 45px;
height: 42px;
padding: 0;
border-radius: 12px;
display: inline-block;
margin-top: 10px;
margin-bottom: 10px;
}
.pop-under .content.page2 .s-item i{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 55px;

}





.pop-under .content .other-side>div{
  padding: 25px 50px;
}
.pop-under .content .other-side>div .row>div>div{
  width: 209px;
}
.content .item.n{
  height: 7px;
  margin:0;
  margin-bottom: 10px;
}
.content .item.o{
  width: 19px !important;
height: 19px;
border-radius: 6px;
display: inline-block !important;
margin: 0 15px 0 0 !important;
}
.content .item.cart{
  width: 154px;
  height: 36px;
  padding: 0;
  display: flex !important;
}
.content .item.cart>div{
  width: 96px;
  height: 12px;
  background: #2549C030 0% 0% no-repeat padding-box;
border-radius: 2px;
display: inline-block;
margin: 12px;
}
.content .item.cart i{
  display: inline-block;
  font-size:18px;
  color: #2549C030;
  line-height: 36px;
}
.pop-under.open-tab2{

}
.pop-under.open-tab2 .tab1{
  /* display: none; */
}
.pop-under.open-tab2 .tab2{
  display: inline-block;
  animation: openTab2 0.2s;
}
@keyframes openTab2 {
  from{
    transform: scale(0.1);
    transform-origin: left bottom;
  }
  to{
    transform: scale(1);
    transform-origin: left bottom;
  }
}
.pop-under.open-tab2 .page1{
  display: none;
}
.pop-under.open-tab2 .page2{
  display: block;
}



.pop-under>div{
  position: relative;
}
.content.page1{
  /* position: relative; */
}
.cursor{
  position: absolute !important;
  left: 42%;
  top: 60%;
  z-index: 2;
  display: block;
}
.cursor.hide{
  display: none !important;
}
.cursor.move{
  left: 56%;
  animation: move 0.5s 1;
}
@keyframes move {
  from{
    left: 42%;
  }
  to{
    left: 56%;
  }
}
.cursor.hide{
  display: none;
}
.pop-under>.container{
  position: relative;
}
.cursor.click::before{
  content: "";
  background-image: url('../images/icons/click.svg');
  width: 13px;
  height: 7px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  left: 38%;
  top: 0;
  transform: translate(-50%, -120%);
}
#scrolling-div.clicked{
    animation: clicked 0.5s 1;
}
@keyframes clicked {
from{
  transform: translate(0,0);
}
  to{
    transform: translate(2%,2%);
  }
}
.pop-under.open-btn{
  position: relative;
}
.pop-under.open-btn #scrolling-div:after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: red; */

  z-index: 11;
animation: bgChng 0.4s forwards;
}
@keyframes bgChng {
  from{
    background: transparent;
  }
  to{
    background: #2648BF70;
  }
}
.pop-under #demo-btn{
  display: none;
}
.pop-under.open-btn #demo-btn{
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 12;
}


.pop-under #reload-btn{
  display: none;
}
.pop-under.open-btn #reload-btn{
  display: block;
color: white;
position: absolute;
top: 10px;
    right: 50px;
z-index: 12;
}



















/* traffic page */
.traffic-banner{

  padding-top: 65px;
  padding-bottom: 65px;
}
.traffic-banner h1{
  color: #50C9B6;
text-shadow: 0px 3px 3px #15296B4D;
font-size: 56px;
line-height: 74px;
font-weight: 300;
}
.traffic-banner form select,
.traffic-banner form label,
.traffic-banner p{
color: #FFFFFF;
font-size: 18px;
line-height: 26px;
font-weight: 300;
}


.title-box{
  border: 1px solid #50C9B6;
  border-radius: 32px;
  width: 720px;
height: 183px;
margin-top: 65px;
margin-bottom: 65px;
/* border-top: 0; */

/* background: linear-gradient(to right, #50C9B6 30%,#50C9B6 calc(50% - 128px), transparent calc(50% - 128px), transparent calc(50% + 128px), #50C9B6 calc(50% + 128px), #50C9B6 70%) no-repeat;
  background-size: 100% 1px;
  background-position: top center; */
}
/* .title-box::before{
  content: "";
  height: 100%;
  width: 100%;
  background-image: #50C9B6;

} */
.title-box .title{
  color: #FFFFFF;
  text-shadow: 0px 2px 2px #00000029;
  font-size: 18px;
  line-height: 26px;
  font-weight: 100;
  border: 1px solid #50C9B6;
border-radius: 8px;
padding: 13px 17px;

}
.title-box .text{

  font-family: 'Cairo', sans-serif;
  font-size: 96px;
  font-weight: 500;
  /* line-height: 180px; */
  color: #fff;
}
.traffic-banner form{

}
.traffic-banner form label{
font-weight: 700;
}
.traffic-banner form select{
font-weight: 700;
color: #4F20B9;

background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 8px #15296B4C;
border: 1px solid #BFCBF3;
border-radius: 6px;
height: 48px;
padding: 0 7px;
cursor: pointer;
}
.traffic-banner form .select{
  position: relative;
}
.traffic-banner form .select::after{


  content: "\f0dd";
  display: block;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  right: 15px;

  z-index: 1;
  font-size: 24px;
  line-height: 50px;
color: #4F20B9;
  font-weight: 700;
  font-family: "Font Awesome 5 Free"
}
.traffic-banner form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.verticals-m{
padding: 80px 0;
}
.verticals-m h1{
color: #3F63DA;
font-size: 56px;
line-height: 74px;
font-weight: 500;
}
.verticals-m p{
color: #3F63DA;
font-size: 18px;
line-height: 26px;
margin: 0;
font-weight: 300;
}
.vertical-item{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 8px #15296B4C;
  border: 1px solid #BFCBF3;
  border-radius: 6px;
  padding: 13px;
  margin: 8px auto;
  max-width: 265.5px;
  height: calc(100% - 16px);
}
.vertical-item h2{
color: #2549C0;
font-size: 22px;
line-height: 32px;
font-weight: 700;
}
.vertical-item hr{
background: #BFCBF3;
height: 1px;
width: 100%;
border: 0;

}
.vertical-item h3{
color: #2549C0;
text-transform: uppercase;
font-size: 14px;
line-height: 32px;
margin: 0;
font-weight: 700;
}
.vertical-item h4{
color: #2549C0;
font-size: 20px;
line-height: 32px;
font-weight: 700;
margin: 0;
}










/* faq */
.g-banner{
padding: 125px 0;
}
.g-banner h1{
  letter-spacing: 1.28px;
  color: #FFFFFF;
  font-size: 64px;
  line-height: 90px;
  font-weight: 500;
}
.g-banner p{
  letter-spacing: 0px;
  color: #9EE1D7;
  text-shadow: 0px 2px 2px #00000029;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
}


.b-bg{
  background: #EAEEFB 0% 0% no-repeat padding-box;
  position: relative;
}
.b-bg-title {
  position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%);
}
.faq-tabs .nav-tabs{
  background: #50C9B6 0% 0% no-repeat padding-box;
box-shadow: 0px 1px 3px #00000029;
border-radius: 10px;
}
.faq-tabs .nav-tabs .nav-link{
  color: #FFFFFF;
text-shadow: 0px 2px 2px #15296B4C;
font-size: 22px;
line-height: 30px;
font-weight: 300;
border: 0 !important
}
.faq-tabs .nav-tabs .nav-link.active{
  background: transparent;
  border: 0;
  font-weight: 700;
}
.faq-tabs .nav-tabs .nav-link:hover{

}

.faq .card{
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 1px 3px #00000029;
border-radius: 10px;
border: 0;
}
.faq .card{
  margin-bottom: 15px;
}
.faq .card-header {
  background: transparent;
  border: 0;
  padding: 14px 30px;
}
.faq .card-header button{
  letter-spacing: 0px;
color: #2549C0;
font-size: 22px;
line-height: 30px;
font-weight: 300;
text-decoration: none !important;
padding: 0;
width: 100%;
text-align: left;
}
.faq .card-body{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0;
}
.faq .card-body p{
  letter-spacing: 0px;
color: #3F63DA;
font-size: 18px;
line-height: 24px;
font-weight: 300;
margin: 0;

}
.faq .card-body a{
  letter-spacing: 0px;
color: #F28CAE;
font-size: 16px;
line-height: 21px;
font-weight: 300;
margin-top: 18px;
display: block;
}
.faq .tab-pane{
  padding-top: 63px;
}
















/* contact page */
.contact-banner{
  padding-top: 70px;
  padding-bottom: 322px;
  background-image: url('../images/banner-contact.png');
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
  /* margin-bottom: 100px; */
}
.contact-banner h2{
  letter-spacing: 0px;
  color: #FFFFFF;
  font-size: 48px;
  line-height: 90px;
  font-weight: 300;
}
.contact-banner h2 span{
  color: #50C9B6;
text-transform: uppercase;
font-weight: 500;
}
.contact-banner p{
  letter-spacing: 0px;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  margin-bottom: 50px;
}
.contact-banner .contact-item{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 12px #132B7D4D;
  border-radius: 8px;
  width: 180px;
height: 100px;
padding-top: 20px;
margin: auto;
margin-top: 50px;
}
.contact-banner h1{
  letter-spacing: 1.28px;
  color: #6985E2;
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
}
.contact-banner a{
  letter-spacing: 0px;
  color: #36AF9D;

  font-family: 'Cairo', sans-serif;
  font-size: 20px;
  line-height: 37px;
  font-weight: 600;
}

.lb-bg{
  background: #EAEEFB;
}











/* privacy policy */

/* privacy page */


.p-policy{

}
.p-policy>div{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 3px #00000029;
  border-radius: 10px;
  padding: 50px 20px 30px 20px;
}
.p-policy h1{
  letter-spacing: 0px;
color: #2549C0;
font-size: 48px;
line-height: 64px;
font-weight: 300;
margin-bottom: 30px;
padding-top: 30px;
}
.p-policy h2{
  letter-spacing: 0px;
color: #2549C0;
font-size: 32px;
line-height: 43px;
font-weight: 300;
margin-bottom: 30px;
padding-top: 30px;
}
.p-policy p{
  letter-spacing: 0px;
  color: #2549C0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 100;
  margin-bottom: 50px;
}















/* terms and condiiotns */
.t-conditions>div{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 3px #00000029;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
}
.t-conditions-tabs .nav-tabs {
  flex-direction: column;
  border-bottom: 0;
  padding-right: 40px;
}
.t-conditions-tabs .nav-tabs .nav-link:hover{
  border: 0;
  transform: scale(1.01);
  transform-origin: left;
}
.t-conditions-tabs .nav-tabs .nav-link{
  letter-spacing: 0px;
color: #2549C0;
font-size: 18px;
line-height: 36px;
font-weight: 500;
  border: 0;
}
.t-conditions-tabs .nav-tabs .nav-link.active{
  font-weight: 700;
  background: transparent;
  border:0;
}
.t-conditions-tabs .nav-tabs{
  position: relative;
}
.t-conditions-tabs .nav-tabs:after{
  width: 1px;
  height: calc(100% - 50px);
  content: "";
  position: absolute;
  top:25px;
  right: 20px;
background: #94A8EA;
}
.t-conditions-tabs h1{
  letter-spacing: 0px;
color: #2549C0;
font-size: 48px;
line-height: 64px;
font-weight: 500;
display: flex;

}
.t-conditions-tabs p{
  letter-spacing: 0px;
color: #2549C0;
font-size: 18px;
line-height: 24px;
font-weight: 300;
display: flex;
}
.t-conditions-tabs p span:nth-of-type(1),
.t-conditions-tabs h1 span:nth-of-type(1){
  font-size: 36px;
  font-weight: 700;
  line-height: 68px;
  width: 80px !important;
  display: block;
}
.t-conditions-tabs p span:nth-of-type(2),
.t-conditions-tabs h1 span:nth-of-type(2){

  width:calc(100% - 80px);
}
.t-conditions-tabs .tab-content{
  padding-right: 20px;
}
.t-conditions-tabs .tab-pane{
  padding-top: 30px;
}
