@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  min-width: 360px;
  font-family: 'Almarai', sans-serif;
}
a,
input,
button{
  text-decoration: none;
  border: 0;
  outline: none !important;
}
.row{
  margin-right: -8px;
    margin-left: -8px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5,
.col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto,
.col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12,
.col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
  padding-right: 8px;
  padding-left: 8px;
}
.red-btn{
  background: #E82F6D;
  color: #fff;
  font-size: 22px;
  line-height: 45px;
  height: 50px;
  padding: 0px 20px;
  border-radius: 6px;
  min-width: 260px;
  color: white;
  border: 1px solid #E82F6D;
  transition: all 0.5s;
  margin: 8px;
  display: inline-block;
}
.red-btn.fill,
.red-btn:hover,
.red-btn:focus{
  background: #fff;
  color: #E82F6D ;
}
.red-btn.fill:hover{
  background: #E82F6D;
  color: #fff;
}
header{
  overflow-x: hidden;
  /* background-image: linear-gradient(0deg,  white 0%,  white 50%,  grey 50%); */
  /* background-image: linear-gradient(45deg, #2648BF,#6E00B3); */
  /* background-size: 100% 50%; */
  position: relative;
}
header::after{
  content: "";
  background-image: linear-gradient(to left top, #2648BF,#6E00B3);
  /* background: #6E00B3 0% 0% no-repeat padding-box; */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
  z-index: -1;
}
nav{
  color: #fff !important;
      padding-top: 25px !important;
}
nav .nav-item{
  padding: 5px 9px;
  line-height: 40px;
  height: 40px;
  margin: 0 3px;
}
nav .nav-link{
  color: #fff;
  font-size: 18px;
  padding: 0;
line-height: 28px;
  /* line-height: 40px; */
}
nav .navbar-brand img{
  height: 40px;
  width: auto;
}
nav .red-btn{
  margin: 0;
  /* height: auto;
  font-size: 18px; */
  /* height: 40px; */
  /* padding: 5px 10px; */
  min-width: 0;
}
nav .red-btn:hover .nav-link{
  color: #E82F6D ;
}
.video iframe{
  width: 100%;
}
.campaigns h1{
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: normal;
  color: #2549C0;
}












.quality-performance .item{
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 8px #15296B4C;
border: 1px solid #BFCBF3;
border-radius: 6px;
padding: 15px;
margin-top: 260px;
height: calc(100% - 260px);
position: relative;
}

.quality-performance .item img{
margin: -10px auto 20px auto;
height: 120px;
}
.quality-performance .item h1{
  font-size: 20px;
  letter-spacing: 0px;
  color: #2549C0;
  text-transform: capitalize;
  margin-bottom: 15px;
  margin-top: 5px;
font-weight: bold;
}
.quality-performance .item p{
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
color: #1D3996;
margin: 0;
}




.quality-performance .item .title{
  font-size: 40px;
  color: #2549C0;
  height: 80px;
  line-height: 80px;
text-shadow: 0px 3px 3px #15296B4D;
  width: 352px;
  background: #F2F5FF;
  box-shadow: 0px 2px 6px #15296B4C;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  transform: translateY(-55px);
  position: relative;
}
.quality-performance .item .title::after,
.quality-performance .item .title::before{
  content: "";
  width: 12px;
height: 40px;
background: #AFBADC 0% 0% no-repeat padding-box;
border-radius: 12px 12px 0px 0px;
position: absolute;
top: 0;

}
.quality-performance .item .title::before{
  left: -12px;
}
.quality-performance .item .title::after{
  right: -12px;
}
.quality-performance .item .body{
  /* position: relative; */
}
.quality-performance .item .body:after{
  content: "";
  width: 1px;
  height: calc(100% - 90px);
  background: #BFCBF3;
  position: absolute;
  left: 50%;
  top: 80px;
  transform: translateX(-50%);
}










.impressions{
  /* background: transparent linear-gradient(157deg, #3F63DA 0%, #4E0080 100%) 0% 0% no-repeat padding-box; #3F63DA 0%, #4E0080 100%) */
   /* background: radial-gradient(ellipse at top,  #3F63DA 0%,#3F63DA 47%,#ff0000 47%,transparent 47%, transparent 100%); */
   /* background: #3F63DA; */
   /* background-image: url("../images/ellipse1.png");
   background-position: top;
   background-size:  100% 80%;
   background-repeat: no-repeat; */
  /* background-size: 100% 50%; */
  /* min-height: 500vh; */
  /* border-radius: 700px 700px 50% 0px; */
  padding-top: 100px;
  margin-top: 160px;
  position: relative;
  overflow: hidden;
}
.impressions::after{
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 95%;
  width: 150%;
  content: "";
  /* background: linear-gradient(to right bottom, #3539BD, #6905B4); */
  /* background: transparent linear-gradient(157deg, #3F63DA 0%, #4E0080 100%) 0% 0% no-repeat padding-box; */
  background:  linear-gradient(157deg, #3F63DA 0%, #4E0080 100%) ;

  background-position: top;
  background-size:  cover;
  z-index: -1;
  border-radius: 60% 60% 60% 60% ;
}
.world-map{
  margin: auto;
  display: block;
  width: 100%;
  max-width: 728px;
}
.impressions .item {
  width: 120px;
  display: block;
  margin: auto;

}
.impressions .item h1{
font-size: 19px;
font-weight: bold;
color: #50C9B6;
text-shadow: 0px 3px 3px #00000029;
text-transform: capitalize;
}
.impressions .item p{
font-size: 48px;
line-height: 48px;
font-weight: lighter;
color: #fff;
text-shadow: 0px 3px 3px #15296B80;
}
.impressions .item p span{
font-size: 28px;
font-weight: bold;
text-shadow: 0px 3px 3px #15296B80;
vertical-align: top;
line-height: 36px;
}




.features{
  margin-top: 80px;
  margin-bottom: 80px;
}
.features h1{
  font-size: 48px;
  line-height: 60px;
  color: #50C9B6;
text-shadow: 0px 3px 3px #15296B4D;
margin-bottom: 20px;
}
.features p{
  letter-spacing: 0px;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 26px;
}

.features .sponsors{
  margin-top: 100px;
}
.features .sponsors .images{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.features .sponsors img{
  display: inline-block;
  margin: 25px 25px;
  /* width: auto; */
  /* height: auto; */
}
/* .features .sponsors .images img:nth-last-of-type(1){
  margin-right: 0;
}
.features .sponsors .images img:nth-of-type(1){
  margin-left: 0;
} */



.carousel-item{
  width: 500px;
}
.carousel-item-m{
  text-align: center;
  width: 442px;
  display: inline-block;
  /* flex: 442px; */
  padding: 35px 70px 25px 70px;
  background: #FFFFFF ;
  box-shadow: 0px 0px 8px #15296B4C;
border: 1px solid #BFCBF3;
border-radius: 6px;
margin: 6px;
}
.carousel-item-m p{
  font-size: 18px;
  font-weight: regular;
  color: #3F63DA;
}
.carousel-item-m h1{
  color: #E82F6D;
  text-shadow: 0px 2px 2px #00000029;
  line-height: 24px;
  text-shadow: 0px 2px 2px #00000029;
font-size: 18px;
}
.carousel-item-m h2{
  letter-spacing: 0px;
  color: #E82F6D;
  text-shadow: 0px 2px 2px #00000029;
  font-size: 12px;
  line-height: 16px;
}

.carousel-list{
  width: 100vw;
  /* display: flex; */
  overflow-x: auto;

}
.carousel-list .list{
  width: 200vw;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* animation: ticker 30s linear infinite; */
}
/* .carousel-list .list:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
} */
.carousel-list::-webkit-scrollbar {
  display: none;
}



/* @keyframes ticker {
0% {
  transform: translate3d(0, 0, 0);
}

100% {
  transform: translate3d(-100%, 0, 0);
}
} */



.advertise{
  margin-top: 150px;
}

.advertise-item{
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 4px #15296B4C;
height: 100%;
}
.advertise-item h1{
  font-size: 40px;
  line-height: 50px;
letter-spacing: 0px;
color: #6E00B3;
margin-bottom: 55px;
}
.advertise-item p{
  letter-spacing: 0px;
color: #6E00B3;
font-size: 20px;
line-height: 26px;
margin-bottom: 45px;
}
.advertise-item a{
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #8D00E6;
  text-shadow: 0px 2px 2px #00000029;

}
.advertise-item a:hover{
  text-decoration: underline;
}
.advertise-item ul{
list-style: none;
padding-left: 35px;
}
.advertise-item ul li{
  letter-spacing: 0px;
  color: #3F63DA;
  font-size: 28px;
  line-height: 35px;
  font-weight: bold;
  margin-bottom: 30px;
  position: relative;
}
.advertise-item ul li::before{
  position: absolute;
  left: -33px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 22px;
  height: 18px;
  background: url('../images/icons/check.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.advertise-item > div{
  position: relative;
  margin-top: 150px;
  margin-bottom: 30px;
}
.advertise-item div button.red-btn{
min-width: 350px !important;
margin: auto;
display: block;
}
.advertise-item div img{
position: absolute;
left: 50%;
top: 0;
transform: translate(-50%,-77%);
}
.advertise-item.monetize-item div img{
  transform: translate(-50%,-69%);
}




.payments{
margin-top: 80px;
margin-bottom: 80px;
}
.payments h1{
  letter-spacing: 0px;
color: #412DBB;
font-size: 18px;
line-height: 26px;
margin-bottom: 20px;
}
.payments img{
  width: 100%;
}






footer{
  /* height: 100vh; */
  /* background: linear-gradient(to right bottom, #3539BD, #6905B4); */
  background: url('../images/background-footer.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 120px 20px;
}
  footer h2,
footer h1{

  letter-spacing: 0px;
  color: #FFFFFF;
  font-size: 32px;
  line-height: 40px;

}
footer h2{
  font-size: 22px;
  font-weight: bold;
}
footer p{
  letter-spacing: 0px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 22px;

}
footer .bottom-footer p {
  max-width: 443px;
  margin-top: 35px;
  margin-bottom: 35px;
}
.newsletter-form form{

max-width: 535px;
width: 100%;
height: 54px;
position: relative;

}
.newsletter-form input{
  padding: 0 25px;
  letter-spacing: 0px;
color: #94A8EA;
font-size: 16px;
line-height: 50px;
  width: calc(100% - 170px);
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #132B7D4D;
  border-radius: 8px;
  height: 50px;

  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.newsletter-form .red-btn{
  height: 54px;
      min-width: 184px;
      line-height: 54px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
}
.newsletter-form .plane-b{
position: absolute;
right: 0;
bottom: 0;
transform: translate(29%,52%);
}
.newsletter-form .plane-s{
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-20%,-70%);
}

footer .bottom-footer{
  margin-top: 50px;
}



.social-links{
  padding: 0;
  list-style: none;
}
.social-links li{
  display: inline-block;
  margin-right: 22px;
}
.social-links a{
color: #fff;
}
.social-links i{
color: #fff;
font-size: 24px;
}
ul.links h2{
  margin-bottom: 30px;
}
ul.links{
  list-style: none;
  padding: 0;
}
ul.links li{
  margin: 10px 0;
}
ul.links  p{
  margin-top: 25px;
  margin-bottom: 25px;
}
