@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  min-width: 380px;
  font-family: 'Almarai', sans-serif;
  overflow-x: hidden;
}
a,
input,
button{
  text-decoration: none;
  border: 0;
  outline: none !important;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888 !important;
  cursor: pointer;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}
.row{
  margin-right: -8px;
    margin-left: -8px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5,
.col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto,
.col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12,
.col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
  padding-right: 8px;
  padding-left: 8px;
}
.red-btn{
  background: #E82F6D;
  color: #fff;
  font-size: 22px;
  line-height: 45px;
  height: 50px;
  padding: 0px 20px;
  border-radius: 6px;
  min-width: 260px;
  color: white;
  border: 1px solid #E82F6D;
  transition: all 0.5s;
  margin: 8px;
  display: inline-block;
}


.pt-50{
  padding-top: 50px;
}
.pt-100{
  padding-top: 100px;
}
.pt-150{
  padding-top: 150px;
}
.pt-200{
  padding-top: 200px;
}
.pb-100{
  padding-bottom: 100px;
}
.pb-150{
  padding-bottom: 150px;
}
.pb-200{
  padding-bottom: 200px;
}

.mt-200{
  margin-top: 200px;
}
.mt-150{
  margin-top: 150px;
}
.mb-150{
  margin-bottom: 150px;
}
.h-20-bl-700{
  font-size: 20px;
  color: #6E00B3;
  font-weight: 700;
  line-height: 27px;
}
.h-16-bl-100{
  font-size: 16px;
  color: #2549C0;
  font-weight: 100;
  line-height: 24px;
}
.h-20-w{
  font-size: 20px;
  line-height: 28px;
  font-weight: 100;
  color: #fff;
}
.h-22-w{
  font-size: 22px;
  font-weight: normal;
  color: #fff;
}
.h-40-b-100{
  font-size: 40px;
  line-height: 50px;
  font-weight: 100;
  color: #3F63DA;
}
.red-a{
  font-size: 18px;
  line-height: 24px;
  color: #E82F6D;
  font-weight: bold;

}



.full-g{
  position: relative;
}
.full-g::after{
  content: "";
  /* background-image: linear-gradient(to left top, #2648BF,#6E00B3); */
  background: transparent linear-gradient(119deg, #6E00B3 0%, #2549C0 100%) 0% 0% no-repeat padding-box;
  /* background: #6E00B3 0% 0% no-repeat padding-box; */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.half-g.full-g::after{
  height: 50%;
}

.full-g-tb{
  position: relative;
}
.full-g-tb::after{
  content: "";
  /* background-image: linear-gradient(to left top, #2648BF,#6E00B3); */
  background: transparent linear-gradient(0, #6E00B3 0%, #2549C0 100%) 0% 0% no-repeat padding-box;
  /* background: #6E00B3 0% 0% no-repeat padding-box; */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

header{
  overflow-x: hidden;
  /* background-image: linear-gradient(0deg,  white 0%,  white 50%,  grey 50%); */
  /* background-image: linear-gradient(45deg, #2648BF,#6E00B3); */
  /* background-size: 100% 50%; */
  position: relative;
}

nav{
  color: #fff !important;
      padding-top: 25px !important;
}
nav .nav-item{
  padding: 5px 9px;
  line-height: 40px;
  height: 40px;
  margin: 0 3px;
}
nav .nav-link{
  color: #fff;
  font-size: 18px;
  padding: 0;
line-height: 28px;
  /* line-height: 40px; */
}
nav .navbar-brand img{
  height: 40px;
  width: auto;
}
nav .red-btn{
  margin: 0;
  /* height: auto;
  font-size: 18px; */
  /* height: 40px; */
  /* padding: 5px 10px; */
  min-width: 0;
}

.video iframe{
  width: 100%;
}
.video video{
  width: 100%;
  /* width: fit-content; */
}
.campaigns h1{
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 33px;
  font-size: 30px;
  font-weight: 500;
  color: #2549C0;
text-shadow: 0px 1px 2px #15296B4D;
}












.quality-performance .item{
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 8px #15296B4C;
border: 1px solid #BFCBF3;
border-radius: 6px;
padding: 15px;
margin-top: 260px;
height: calc(100% - 260px);
position: relative;
}

.quality-performance .item img{
margin: -10px auto 20px auto;
height: 120px;
}
.quality-performance .item h1{
  font-size: 20px;
  letter-spacing: 0px;
  color: #2549C0;
  text-transform: capitalize;
  margin-bottom: 15px;
  margin-top: 5px;
font-weight: bold;
}
.quality-performance .item p{
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
color: #1D3996;
line-height: 26px;
margin: 0;

}




.quality-performance .item .title{
  font-size: 40px;
  font-weight: 500;
  color: #2549C0;
  height: 80px;
  line-height: 80px;
text-shadow: 0px 3px 3px #15296B4D;
  width: 352px;
  background: #F2F5FF;
  box-shadow: 0px 2px 6px #15296B4C;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  transform: translateY(-55px);
  position: relative;
}
.quality-performance .item .title::after,
.quality-performance .item .title::before{
  content: "";
  width: 12px;
height: 40px;
background: #AFBADC 0% 0% no-repeat padding-box;
border-radius: 12px 12px 0px 0px;
position: absolute;
top: 0;

}
.quality-performance .item .title::before{
  left: -12px;
}
.quality-performance .item .title::after{
  right: -12px;
}
.quality-performance .item .body{
  /* position: relative; */
}
.quality-performance .item .body:after{
  content: "";
  width: 1px;
  height: calc(100% - 90px);
  background: #BFCBF3;
  position: absolute;
  left: 50%;
  top: 80px;
  transform: translateX(-50%);
}










.impressions{
  /* background: transparent linear-gradient(157deg, #3F63DA 0%, #4E0080 100%) 0% 0% no-repeat padding-box; #3F63DA 0%, #4E0080 100%) */
   /* background: radial-gradient(ellipse at top,  #3F63DA 0%,#3F63DA 47%,#ff0000 47%,transparent 47%, transparent 100%); */
   /* background: #3F63DA; */
   /* background-image: url("../images/ellipse1.png");
   background-position: top;
   background-size:  100% 80%;
   background-repeat: no-repeat; */
  /* background-size: 100% 50%; */
  /* min-height: 500vh; */
  /* border-radius: 700px 700px 50% 0px; */
  padding-top: 100px;
  margin-top: 160px;
  position: relative;
  overflow: hidden;
}
.impressions::after{
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 95%;
  width: 150%;
  content: "";
  /* background: linear-gradient(to right bottom, #3539BD, #6905B4); */
  /* background: transparent linear-gradient(157deg, #3F63DA 0%, #4E0080 100%) 0% 0% no-repeat padding-box; */
  background:  linear-gradient(157deg, #3F63DA 0%, #4E0080 100%) ;

  background-position: top;
  background-size:  cover;
  z-index: -1;
  border-radius: 60% 60% 60% 60% ;
}
.world-map{
  margin: auto;
  display: block;
  width: 100%;
  max-width: 728px;
}
.impressions .item {
  width: 120px;
  display: block;
  margin: auto;

}
.impressions .item h1{
font-size: 19px;
font-weight: bold;
color: #50C9B6;
text-shadow: 0px 3px 3px #00000029;
text-transform: capitalize;
}
.impressions .item p{
font-size: 48px;
line-height: 48px;
font-weight: lighter;
color: #fff;
text-shadow: 0px 3px 3px #15296B80;
/* font-family: 'Cairo', sans-serif; */
}
.impressions .item p span{
font-size: 28px;
font-weight: bold;
text-shadow: 0px 3px 3px #15296B80;
vertical-align: top;
line-height: 36px;
}




.features{
  margin-top: 80px;
  margin-bottom: 80px;
  /* overflow-x: hidden; */
}
.features h1{
  font-size: 48px;
  line-height: 60px;
  color: #50C9B6;
text-shadow: 0px 3px 3px #15296B4D;
margin-bottom: 20px;
font-weight: 700;
}
.features p{
  letter-spacing: 0px;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 26px;
}

.features .sponsors{
  margin-top: 100px;
}
.features .sponsors .images{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.features .sponsors img{
  display: inline-block;
  margin: 25px 25px;
  /* width: auto; */
  /* height: auto; */
}

/* .features .sponsors .images img:nth-last-of-type(1){
  margin-right: 0;
}
.features .sponsors .images img:nth-of-type(1){
  margin-left: 0;
} */

.scroll-items{
  overflow-x: scroll;
overflow-y: hidden;

cursor: pointer;
white-space: nowrap;
}
.scroll-items::-webkit-scrollbar {
  display: none;
}
.carousel-item{
  width: 500px;
}
.carousel-item-m{
  text-align: center;

  display: inline-block;
  /* flex: 442px; */

padding: 6px;

margin: 0;
    white-space: initial;
}
.carousel-item-m>div{
  background: #FFFFFF ;
  box-shadow: 0px 0px 8px #15296B4C;
  padding: 35px 70px 25px 70px;
  border: 1px solid #BFCBF3;
  border-radius: 8px;
    width: 442px;
}
.carousel-item-m p{
  font-size: 18px;
  font-weight: 500;
  color: #3F63DA;
  line-height: 26px;
}
.carousel-item-m h1{
  color: #E82F6D;
  text-shadow: 0px 2px 2px #00000029;
  line-height: 24px;
  text-shadow: 0px 2px 2px #00000029;
font-size: 18px;
font-weight: 500;
}
.carousel-item-m h2{
  letter-spacing: 0px;
  color: #E82F6D;
  text-shadow: 0px 2px 2px #00000029;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
}

.carousel-list{
  width: 100vw;
  /* display: flex; */
  overflow-x: auto;

}
.scroll-items{
  overflow-x: scroll;
overflow-y: hidden;
    padding: 0 40px;
cursor: pointer;
white-space: nowrap;
}
.carousel-list .list{
/* white-space: nowrap; */
  /* width: 200vw; */

  /* display: flex; */
  /* flex-wrap: wrap; */
  /* animation: ticker 30s linear infinite; */
}
/* .carousel-list .list:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
} */




/* @keyframes ticker {
0% {
  transform: translate3d(0, 0, 0);
}

100% {
  transform: translate3d(-100%, 0, 0);
}
} */



.advertise{
  margin-top: 150px;
}

.advertise-item{
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 4px #15296B4C;
height: 100%;
max-width: 547px;
margin: auto;
}
.advertise-item h1{
  font-size: 40px;
  line-height: 50px;
letter-spacing: 0px;
color: #6E00B3;
margin-bottom: 55px;
}
.advertise-item p{
  letter-spacing: 0px;
color: #6E00B3;
font-size: 20px;
line-height: 26px;
margin-bottom: 45px;
}
.advertise-item a{
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #8D00E6;
  text-shadow: 0px 2px 2px #00000029;
  text-decoration: underline;
/* width: fit-content;
border-bottom: 1px solid  #8D00E6;
padding-bottom: -3px; */
}

.advertise-item ul{
list-style: none;
padding-left: 35px;
}
.advertise-item ul li{
  letter-spacing: 0px;
  color: #3F63DA;
  font-size: 28px;
  line-height: 35px;
  font-weight: bold;
  margin-bottom: 30px;
  position: relative;
}
.advertise-item ul li::before{
  position: absolute;
  left: -33px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 22px;
  height: 18px;
  background: url('../images/icons/check.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.fl-btn{
  position: relative;
  margin-top: 150px;
  margin-bottom: 30px;
}
.fl-btn button.red-btn{
min-width: 350px !important;
margin: auto;
display: block;
}
.fl-btn img{
position: absolute;
left: 50%;
top: 0;
transform: translate(-50%,-77%);
}
.advertise-item.monetize-item .fl-btn img{
  transform: translate(-50%,-69%);
}




.payments{
margin-top: 80px;
margin-bottom: 80px;
}
.payments h1{
  letter-spacing: 0px;
color: #412DBB;
font-size: 18px;
line-height: 26px;
margin-bottom: 20px;
}
.payments img{
  width: 100%;
}






footer{
  /* height: 100vh; */
  /* background: linear-gradient(to right bottom, #3539BD, #6905B4); */
  background: url('../images/background-footer.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 120px 20px;
}
  footer h2,
footer h1{

  letter-spacing: 0px;
  color: #FFFFFF;
  font-size: 32px;
  line-height: 40px;

}
footer h2{
  font-size: 22px;
  font-weight: bold;
}
footer p{
  letter-spacing: 0px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 22px;

}
footer .bottom-footer p {
  max-width: 443px;
  margin-top: 35px;
  margin-bottom: 35px;
}
.newsletter-form form{

max-width: 535px;
width: 100%;
height: 54px;
position: relative;

}
.newsletter-form input{
  padding: 0 25px;
  letter-spacing: 0px;
color: #94A8EA;
font-size: 16px;
line-height: 50px;
  width: calc(100% - 170px);
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #132B7D4D;
  border-radius: 8px;
  height: 50px;

  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.newsletter-form .plane-btn{
  height: 54px;
      min-width: 184px;
      /* background: black; */
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
}
.newsletter-form .plane-btn div{
  position: relative;
}
.newsletter-form .red-btn{
height: 54px;
      line-height: 54px;

      margin: 0;
}
.newsletter-form .plane-b{
position: absolute;
right: 0;
bottom: 0;
transform: translate(29%,52%);
}
.newsletter-form .plane-s{
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-20%,-70%);
}

footer .bottom-footer{
  margin-top: 50px;
}



.social-links{
  padding: 0;
  list-style: none;
}
.social-links li{
  display: inline-block;
  margin-right: 22px;
}
.social-links a{
color: #fff;
}
.social-links i{
color: #fff;
font-size: 24px;
}
ul.links h2{
  margin-bottom: 30px;
}
ul.links{
  list-style: none;
  padding: 0;
}
ul.links li{
  margin: 10px 0;
}
ul.links  p{
  margin-top: 25px;
  margin-bottom: 25px;
}
















/* advertise self serving page */


.convert .row{
  /* padding-top: 150px;
  padding-bottom: 100px; */
}
.convert .row div div{
  max-width: 360px;
}
.convert h1{
  font-size: 60px;
  font-weight: normal;
  line-height: 90px;
  color: #fff;
}
.convert h2{
  font-size: 75px;
  line-height: 90px;
  color: #E8306E;
  font-weight: bold;
      margin-bottom: 80px;
}
.convert .red-btn{
  width: 100%;
}
.convert .img-side{
  background-image:  url('../images/banner-convert.png');
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  min-height: 420px;
}

.convert .p-22{
  /* margin-bottom: 15px; */
}



.drive-audience-tab{
  max-width: 435px;
}
.nav-tabs{
border: 0;
}

.nav-tabs .nav-item{
border: 0 !important;
}
.nav-tabs .nav-item .nav-link{
  color: #94A8EA;
  text-transform: capitalize;
  font-size: 20px;
  line-height: 27px;
  font-weight: 900;

  border-bottom: 1px solid #F28CAE;
  padding: 10px 25px;
}
.nav-tabs .nav-item:nth-of-type(1) .nav-link{
  padding-left: 0;
}
.nav-tabs .nav-item:nth-last-of-type(1) .nav-link{
  padding-right: 0;
}
.nav-tabs .nav-item .nav-link.active{
border: 0;
padding-bottom: 9px;
border-bottom: 5px solid #ED5E8E;
  color: #3F63DA;
}
.tab-content{

}
.tab-content .tab-pane{
padding: 40px 0;
}
.tab-content p{
color: #2549C0;
font-size: 20px;
line-height: 28px;
font-weight: 300;
margin-bottom: 40px;
}
.tab-content button{

}


.drive-audience{
  overflow: hidden;
}
.drive-audience .img-side{
  /* background-image:  url('../images/banner-drive-audience.png');
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat; */
  min-height: 470px;
}
.drive-audience .img-side img{
  height: 100%;
}





.features .img{
  position: relative;

}
.features .img img.bg2{
  display: none;
}
.features .img img{
  width: 100%;
}
.features .img .red-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-53%, -50%);
}




.features-list-items{

}
.features-list-items>div{
  max-width: 550px;
  margin: auto;
  display: block;
}
.features-list-items img{
height: 140px;
width: auto;
}
.features-list-items h1{
color: #3F63DA;
font-size: 32px;
line-height: 40px;
font-weight: 700;
margin-bottom: 20px;
}
.features-list-items p{
color: #3F63DA;
font-size: 20px;
line-height: 28px;
font-weight: 100;
}





.features-2{
  position: relative;
    padding-top: 250px;
    margin-top: 150px;
    padding-bottom: 150px;
    /* overflow-x: hidden; */
}
.features-2 .arrow-down{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 108%;
}
.features-2 .arrow-down-2{
  display: none;
  position: absolute;
  left: 0;
  /* transform: translate(50%,10%); */
  /* top: 50%;
  transform: translateY(-50%); */
  top: 0;
  /* height: 100%; */

  width: 100%;
  height: 105%;
  overflow: hidden;

}
.features-2 .arrow-down-2 img{
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
transform: translateX(50%);
max-width: 500px;
}
.featuers-items-2{

  margin-bottom: 80px;
}
.featuers-items-2 h1{
color: #5815B6;
font-size: 24px;
line-height: 34px;
font-weight: 700;
}
.featuers-items-2 p{
color: #5815B6;
font-size: 18px;
line-height: 28px;
font-weight: 100;
height: 84px;
    overflow: hidden;
}


.features .fl-btn{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,50%);
}




.successful-campaign .h-20-w{
  color: #615F86;
  margin-bottom: 0;
}

.successful-campaign .item{
max-width: 352px;
margin: auto;
display: block;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 4px #15296B4C;
border-radius: 6px;
padding: 30px;
transform: translateY(55px);
margin-bottom: 30px;
}
.successful-campaign .item .img{
  box-shadow: 0px 0px 8px #071D664D;
border-radius: 8px;
height: 168px;
width: 100%;
position: relative;
overflow: hidden;
}
.successful-campaign .item .img img{
  height: 100%;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}
.successful-campaign .item h1{
  color: #2549C0;
  text-transform: capitalize;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
.successful-campaign .item p{
color: #1D3996;
font-size: 15px;
line-height: 26px;
font-weight: 100;
}
















/* advertise smart managed */
/* .polygon-background-main{
clip-path: polygon(0 0%, 100% 0, 100% 85%, 50% 100%, 0% 85%, 0% 25%);
overflow: hidden;
           position: relative;
} */
/* .polygon-background-main .bottom-curve{
  width: 30vw;
  height: 30vw;
  position: absolute;
  bottom: 25px;
left: 50%;
transform: translate(-50%,0);
background: red;
border-radius:0 50% 50%/0 0 30% 30%;
overflow: hidden;
}
.polygon-background-main .bottom-curve>div{

  background: blue;
  width: 100%;
  height: 100%;

} */
/* .polygon-b::after{
  content: "";
  background: red;
} */
header.advertise-smart-managed{
  background-image: url('../images/background-addvertise-smart-managed.png');
  background-position: bottom;
  background-size:100% 100%;
  background-repeat: no-repeat;
}
.convert .img-side{
  background-image: url('../images/banner-goals.png');
  background-position: right;
}
/* .convert{
  background-image: url('../images/banner-goals.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: c

} */

.convert .red-btn i{
  margin-right: 10px;
}
.convert.goals .row div div{
  max-width: none;
}
.convert.goals .red-btn{
  /* width: auto; */
  max-width: 352px;
}


.dedicated-m{
padding-bottom: 75px;

}
.dedicated-m h2,
.dedicated-m h1{
color: #FFFFFF;
font-size: 56px;
line-height: 74px;
font-weight: 300;
}
.dedicated-m h2{
  font-weight: 700;
  position: relative;
  margin-bottom: 20px;

}
.dedicated-m h2 span{
  position: absolute;
  width: 90px;
  height: 50px;
  background: #50C9B6;
  text-align: center;
  font-size: 32px;
  line-height: 50px;
  font-family: 'Cairo', sans-serif;
  border-radius: 16px;
  transform: translateX(6px);
}

.features-3 .row:nth-of-type(odd) .features-3-item {
  padding-right: 80px;
}
.features-3 .row:nth-of-type(even) .features-3-item {
  padding-left: 80px;
}
.h-44-b-sp{
  color: #2549C0;
  font-size: 44px;
  line-height: 58px;
  font-weight: 100;
}
.h-44-b-sp span{
  font-weight: 900;
}

.features-3 .img-side{
  min-height: 350px;
}



.advertise.help{
  /* background-image: url('../images/background-help.png');
  background-position: right;
  background-size: 50%;
  background-repeat: no-repeat; */
  overflow: hidden;
  margin-top: 0;

}
.advertise.help .red-btn{
  width: 352px;
}
.advertise.help .img-side{
  position: relative;
}
.advertise.help .img-side img{
  position: absolute;
  bottom: 0;
}
